In [1]:
from googleapiclient.discovery import build
from dateutil import parser
import pandas as pd
from IPython.display import JSON

# Data vizualtion package
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

#NLP
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')
from wordcloud  import WordCloud

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\aswin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\aswin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
api_key =  "AIzaSyB-x8DIyMZeJxesSG_qidokyKsm9jAantU"

In [3]:
api_key

'AIzaSyB-x8DIyMZeJxesSG_qidokyKsm9jAantU'

In [4]:
channels_ids = ["UCjWY5hREA6FFYrthD0rZNIw",
                "UCteRPiisgIoHtMgqHegpWAQ",
                "UCJQJAI7IjbLcpsjWdSzYz0Q",
                "UCbWVgqVWcthADXHgxXJn1bA",
               'UCzL_0nIe8B4-7ShhVPfJkgw', 
               'UCLLw7jmFsvfIVaUFsLs8mlQ',  
               'UCiT9RITQ9PW6BhXK0y2jaeg',               
                'UC7cs8q-gJRlGwj4A8OmCmXg', 
               'UC2UXDak6o7rBm23k3Vv5dww'
               ]

In [5]:
api_service_name = "youtube"
api_version = "v3"

youtube = build(
    api_service_name, api_version, developerKey=api_key)

request = youtube.channels().list(
    part="snippet,contentDetails,statistics",
    id=','.join(channels_ids)
)
response = request.execute()

JSON(response)

In [6]:
def get_channel_status(youtube,channels_ids):
    """
    Get channel status 
    paramns :
    youtube : building the object for the youtube channels
    channels_ids : list of the channels id
    
    """
    
    all_data = []
    
    request = youtube.channels().list(
        part = "snippet,contentDetails,statistics",
        id = ','.join(channels_ids)
    )
    response = request.execute()
    
    for item in response['items']:
        data = {'channelName':item['snippet']['title'],
                'subscribers':item['statistics']['subscriberCount'],
                'views':item['statistics']['viewCount'],
                'totalVideos':item['statistics']['videoCount'],
                'playlistId':item['contentDetails']['relatedPlaylists']['uploads']
                
               }
        
        all_data.append(data)
        
    return (pd.DataFrame(all_data))

In [7]:
channel_stats = get_channel_status(youtube, channels_ids)
channel_stats

,channelName,subscribers,views,totalVideos,playlistId
0,Alex The Analyst,327000,12874242,180,UU7cs8q-gJRlGwj4A8OmCmXg
1,Thu Vu data analytics,99500,2431207,53,UUJQJAI7IjbLcpsjWdSzYz0Q
2,Ken Jee,228000,7261910,242,UUiT9RITQ9PW6BhXK0y2jaeg
3,Tina Huang,427000,17371626,111,UU2UXDak6o7rBm23k3Vv5dww
4,Luke Barousse,282000,12333492,91,UULLw7jmFsvfIVaUFsLs8mlQ
5,Sundas Khalid,93400,3703829,73,UUteRPiisgIoHtMgqHegpWAQ
6,Anastasia K,36600,1218545,35,UUbWVgqVWcthADXHgxXJn1bA
7,Krish Naik Hindi,47700,1428141,360,UUjWY5hREA6FFYrthD0rZNIw
8,Data Science Dojo,90600,5139730,373,UUzL_0nIe8B4-7ShhVPfJkgw

In [8]:
## Getting the video details

In [9]:
def get_video_ids(youtube,playlist_id):
    
    video_ids = []
    
    request = youtube.playlistItems().list(
        part = "snippet,contentDetails",
        playlistId=playlist_id,
        maxResults = 50
    )
    response = request.execute()
    
    for item in response['items']:
        video_ids.append(item['contentDetails']['videoId'])
        
    next_page_token = response.get('nextPageToken')
    while next_page_token is not None:
        request = youtube.playlistItems().list(
                    part='contentDetails',
                    playlistId = playlist_id,
                    maxResults = 50,
                    pageToken = next_page_token)
        response = request.execute()

        for item in response['items']:
            video_ids.append(item['contentDetails']['videoId'])

        next_page_token = response.get('nextPageToken')
        
    return video_ids

In [10]:

video_ids = get_video_ids(youtube,playlist_id='UUJQJAI7IjbLcpsjWdSzYz0Q')

In [11]:
video_ids

['ZfN8nG0luig',
 'GM8nrVBFdFo',
 'GYxiuFRkS58',
 'UmFwybBiDt0',
 'N0o-Bjiwt0M',
 'JsZiFysJS1U',
 'uFTd2b23GvI',
 'ho9vNL4MYZ8',
 'hFLp_aP8iQQ',
 'fClT4PWlGoA',
 'p5MwJuZZYYY',
 'B11nK1QCPRA',
 'O_7f4MGeCKE',
 '5gf2ntjVGe8',
 'fAHkJ_Dhr50',
 'OIj_uTLplPA',
 'RuNolAh_4bU',
 'lpSw_RAPmgc',
 'UiG8q67Z2XU',
 'A8Abf3u0ZIs',
 'OEVNDRZxgz8',
 'lkMh1g41drk',
 'qdzuq_o8-dI',
 'eiZbEcMX3b4',
 'uhxiXOTKzfs',
 'nNfco7k7Hi0',
 'MsdyvI3ZI5k',
 'U2v76H_B1rs',
 '8PYJFSGlmmQ',
 'D56_Cx36oGY',
 'zai2pLUD9FA',
 'ir2uJg4DF4k',
 'XYKuslcJp7A',
 'qPxPoRNIUZk',
 'q3gWZkQ4PjU',
 '0srU1L8wL0U',
 'qjLHX3RCayI',
 'Kq5iPtAc_3I',
 'RM43xgiJhjQ',
 'UQ08HuBrl7E',
 'IjLRk2Q_A0U',
 'LEH8TtCCYbM',
 'CmC3FixsdIk',
 'Y0c6cdbs4og',
 'XAoZbtIsgU0',
 'Q9LkrbgaRUI',
 'C9dWbD1Rrvc',
 '85X8D0-5mfc',
 '5LWoJAh-kww',
 '_RzoHVWKwq4',
 'hWKLO7GtpiU',
 'dBZqggW22rs',
 'QDdqsFCIxIk']

In [12]:
len(video_ids)

53

In [13]:
# Get video details

In [14]:
def get_video_details(youtube, video_ids):

    all_video_info = []
    
    for i in range(0, len(video_ids), 50):
        request = youtube.videos().list(
            part="snippet,contentDetails,statistics",
            id=','.join(video_ids[i:i+50])
        )
        response = request.execute() 

        for video in response['items']:
            stats_to_keep = {'snippet': ['channelTitle', 'title', 'description', 'tags', 'publishedAt'],
                             'statistics': ['viewCount', 'likeCount', 'favouriteCount', 'commentCount'],
                             'contentDetails': ['duration', 'definition', 'caption']
                            }
            video_info = {}
            video_info['video_id'] = video['id']

            for k in stats_to_keep.keys():
                for v in stats_to_keep[k]:
                    try:
                        video_info[v] = video[k][v]
                    except:
                        video_info[v] = None

            all_video_info.append(video_info)
    
    return pd.DataFrame(all_video_info)

In [15]:
video_df = get_video_details(youtube, video_ids)
video_df.head(5)

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition,caption
0,ZfN8nG0luig,Thu Vu data analytics,Recession 2023: What It Means for Data Science...,🤓 Join my Discord server: \nhttps://discord.gg...,"[data analytics, data science, python, data, t...",2022-12-05T23:40:57Z,26043,1180,None,78,PT16M25S,hd,false
1,GM8nrVBFdFo,Thu Vu data analytics,DON'T DO THIS: Revealing biggest mistakes in d...,🧩 Data visualization catalogue 👉 https://datav...,"[data analytics, data science, python, data, t...",2022-11-25T10:52:29Z,22408,1187,None,86,PT14M19S,hd,true
2,GYxiuFRkS58,Thu Vu data analytics,💡Awesome Data Portfolio Project Ideas #shorts ...,🔗 Links to the mentioned project videos:\n1. A...,"[data analytics, data science, python, data, t...",2022-11-16T17:16:08Z,22015,2679,None,31,PT1M,hd,false
3,UmFwybBiDt0,Thu Vu data analytics,📚3 In-Depth Machine Learning Books You Can't M...,#shorts,"[data analytics, data science, python, data, t...",2022-11-13T23:56:06Z,11834,1390,None,25,PT56S,hd,false
4,N0o-Bjiwt0M,Thu Vu data analytics,I Analyzed 1000 Data Science Books on Amazon: ...,🔗 Deepnote 👉 https://deepnote.com/\n📚 This Dee...,"[data analytics, data science, python, data, t...",2022-11-10T02:36:50Z,110614,4046,None,183,PT23M14S,hd,false

In [16]:
video_df.dtypes

video_id          object
channelTitle      object
title             object
description       object
tags              object
publishedAt       object
viewCount         object
likeCount         object
favouriteCount    object
commentCount      object
duration          object
definition        object
caption           object
dtype: object

In [17]:
def get_comments_in_videos(youtube, video_ids):
    """
    Get top level comments as text from all videos with given IDs (only the first 10 comments due to quote limit of Youtube API)
    Params:
    
    youtube: the build object from googleapiclient.discovery
    video_ids: list of video IDs
    
    Returns:
    Dataframe with video IDs and associated top level comment in text.
    
    """
    all_comments = []
    
    for video_id in video_ids:
        try:   
            request = youtube.commentThreads().list(
                part="snippet,replies",
                videoId=video_id
            )
            response = request.execute()
        
            comments_in_video = [comment['snippet']['topLevelComment']['snippet']['textOriginal'] for comment in response['items'][0:10]]
            comments_in_video_info = {'video_id': video_id, 'comments': comments_in_video}

            all_comments.append(comments_in_video_info)
            
        except: 
            # When error occurs - most likely because comments are disabled on a video
            print('Could not get comments for video ' + video_id)
        
    return pd.DataFrame(all_comments)

In [18]:
# Create a dataframe with video statistics and comments from all channels

video_df = pd.DataFrame()
comments_df = pd.DataFrame()

for c in channel_stats['channelName'].unique():
    print("Getting video information from channel: " + c)
    playlist_id = channel_stats.loc[channel_stats['channelName']== c, 'playlistId'].iloc[0]
    video_ids = get_video_ids(youtube, playlist_id)
    
    # get video data
    video_data = get_video_details(youtube, video_ids)
    # get comment data
    comments_data = get_comments_in_videos(youtube, video_ids)

    # append video data together and comment data toghether
    video_df = video_df.append(video_data, ignore_index=True)
    comments_df = comments_df.append(comments_data, ignore_index=True)

Getting video information from channel: Alex The Analyst
Could not get comments for video _2OknmkngkQ

C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)
C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  comments_df = comments_df.append(comments_data, ignore_index=True)

Getting video information from channel: Thu Vu data analytics

C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)
C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  comments_df = comments_df.append(comments_data, ignore_index=True)

Getting video information from channel: Ken Jee

C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)
C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  comments_df = comments_df.append(comments_data, ignore_index=True)

Getting video information from channel: Tina Huang

C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)
C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  comments_df = comments_df.append(comments_data, ignore_index=True)

Getting video information from channel: Luke Barousse

C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)
C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  comments_df = comments_df.append(comments_data, ignore_index=True)

Getting video information from channel: Sundas Khalid
Could not get comments for video hAa__S85msc
Could not get comments for video 2fpDvYNo6fU
Getting video information from channel: Anastasia K

C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)
C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  comments_df = comments_df.append(comments_data, ignore_index=True)

Could not get comments for video Hz4ihJJAMJ8

C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)
C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  comments_df = comments_df.append(comments_data, ignore_index=True)

Getting video information from channel: Krish Naik Hindi
Could not get comments for video 9JzRGqmKnCY

C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)
C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  comments_df = comments_df.append(comments_data, ignore_index=True)

Getting video information from channel: Data Science Dojo
Could not get comments for video ceTSkDWzlE8
Could not get comments for video Ams4sEn50cw
Could not get comments for video 4NcNYVNUeog
Could not get comments for video 8f0FDJoK508
Could not get comments for video 1v-Ca9iyo0k
Could not get comments for video Bn2IAHYo_2Q
Could not get comments for video Rcv1O-tv1n8
Could not get comments for video buRkFmE_HjA
Could not get comments for video tu08iFtqzu8
Could not get comments for video 2FxWwK0djdk
Could not get comments for video LDTTQjMX7BA
Could not get comments for video RB-OLdJSTh0
Could not get comments for video VlFFkXvzypQ
Could not get comments for video 5PzsGqHBSN0

C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  video_df = video_df.append(video_data, ignore_index=True)
C:\Users\aswin\AppData\Local\Temp\ipykernel_16464\1592961996.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  comments_df = comments_df.append(comments_data, ignore_index=True)

In [19]:
video_df

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition,caption
0,_2OknmkngkQ,Alex The Analyst,Data Analyst Q/A Livestream + Special Guest! |...,This is December's Livestream where you can co...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-12-08T02:06:21Z,0,4,None,0,P0D,sd,false
1,zvzjaqMBEso,Alex The Analyst,Functions in Python | Python for Beginners,In this series we will be walking through ever...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-12-06T12:00:36Z,2172,102,None,21,PT12M44S,hd,false
2,ECduJk00mUU,Alex The Analyst,While Loops in Python | Python for Beginners,In this series we will be walking through ever...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-11-29T12:00:07Z,2048,90,None,13,PT5M40S,hd,false
3,zmIdC0_0BgY,Alex The Analyst,For Loops in Python | Python for Beginners,In this series we will be walking through ever...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-11-22T12:00:48Z,2680,98,None,16,PT9M17S,hd,false
4,eP8-mo5jRrY,Alex The Analyst,Data Analyst Q/A Livestream | November Livestream,This is November's Livestream where you can co...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-11-16T02:06:22Z,4712,178,None,18,PT1H2M17S,hd,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,4gn4447I5aQ,Data Science Dojo,Beginning Azure ML Part 4 - Preprocessing Data...,Preprocessing part I with Azure ML. Cast your ...,"[Azure ML basics, Azure ML preprocessing, Azur...",2014-08-22T02:17:21Z,12841,42,None,7,PT8M55S,hd,false
1530,tfYT1KdBh2Y,Data Science Dojo,"Beginning Azure ML Part 1 - Importing Data, Ac...",Please watch our updated playlist: https://hub...,"[Azure ML basics, Azure ML preprocessing, Azur...",2014-08-20T19:09:36Z,25138,47,None,1,PT3M51S,hd,false
1531,QZtSaIQRDG4,Data Science Dojo,Beginning Azure ML Part 2 - Reading External D...,Please watch out updated playlist: https://hub...,"[Azure ML basics, Azure ML preprocessing, Azur...",2014-08-20T13:03:13Z,13396,32,None,2,PT4M47S,hd,false
1532,jAlmiDx3voE,Data Science Dojo,Beginning Azure ML Part 3 - Data Exploration a...,Exploring the data using the tools present wit...,"[Azure ML basics, Azure ML preprocessing, Azur...",2014-08-20T10:28:50Z,14200,38,None,7,PT6M31S,hd,false
1533,eP3dIlSdOZ0,Data Science Dojo,"Feature Exploration, Visualization, and Predic...","In this 90-minute talk, we will cover an overv...","[Predictive Modelling (Literature Subject), Vi...",2014-08-06T22:09:12Z,3184,10,None,1,PT1H39M33S,hd,false

In [20]:
comments_df

         video_id                                           comments
0     zvzjaqMBEso  [Keep up the great knowledge 👍, Thank you for ...
1     ECduJk00mUU  [Hey Alex thank you for introducing me to this...
2     zmIdC0_0BgY  [looking forward to more videos. please go ove...
3     eP8-mo5jRrY  [How can I get courses from you?, When is your...
4     -BOBedcjySI  [How can I use these statements with a Pandas ...
...           ...                                                ...
1510  4gn4447I5aQ  [How do you change String to Numeric? I am try...
1511  tfYT1KdBh2Y  [Thanks for these great tutorials!  \nWhich sc...
1512  QZtSaIQRDG4  [Nice video. But, your voice sounds a little t...
1513  jAlmiDx3voE  [I love your videos! Well thought and explaine...
1514  eP3dIlSdOZ0  [a good quality camera would have got my job d...

[1515 rows x 2 columns]

In [21]:
## EDA

In [22]:
video_df

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition,caption
0,_2OknmkngkQ,Alex The Analyst,Data Analyst Q/A Livestream + Special Guest! |...,This is December's Livestream where you can co...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-12-08T02:06:21Z,0,4,None,0,P0D,sd,false
1,zvzjaqMBEso,Alex The Analyst,Functions in Python | Python for Beginners,In this series we will be walking through ever...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-12-06T12:00:36Z,2172,102,None,21,PT12M44S,hd,false
2,ECduJk00mUU,Alex The Analyst,While Loops in Python | Python for Beginners,In this series we will be walking through ever...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-11-29T12:00:07Z,2048,90,None,13,PT5M40S,hd,false
3,zmIdC0_0BgY,Alex The Analyst,For Loops in Python | Python for Beginners,In this series we will be walking through ever...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-11-22T12:00:48Z,2680,98,None,16,PT9M17S,hd,false
4,eP8-mo5jRrY,Alex The Analyst,Data Analyst Q/A Livestream | November Livestream,This is November's Livestream where you can co...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-11-16T02:06:22Z,4712,178,None,18,PT1H2M17S,hd,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,4gn4447I5aQ,Data Science Dojo,Beginning Azure ML Part 4 - Preprocessing Data...,Preprocessing part I with Azure ML. Cast your ...,"[Azure ML basics, Azure ML preprocessing, Azur...",2014-08-22T02:17:21Z,12841,42,None,7,PT8M55S,hd,false
1530,tfYT1KdBh2Y,Data Science Dojo,"Beginning Azure ML Part 1 - Importing Data, Ac...",Please watch our updated playlist: https://hub...,"[Azure ML basics, Azure ML preprocessing, Azur...",2014-08-20T19:09:36Z,25138,47,None,1,PT3M51S,hd,false
1531,QZtSaIQRDG4,Data Science Dojo,Beginning Azure ML Part 2 - Reading External D...,Please watch out updated playlist: https://hub...,"[Azure ML basics, Azure ML preprocessing, Azur...",2014-08-20T13:03:13Z,13396,32,None,2,PT4M47S,hd,false
1532,jAlmiDx3voE,Data Science Dojo,Beginning Azure ML Part 3 - Data Exploration a...,Exploring the data using the tools present wit...,"[Azure ML basics, Azure ML preprocessing, Azur...",2014-08-20T10:28:50Z,14200,38,None,7,PT6M31S,hd,false
1533,eP3dIlSdOZ0,Data Science Dojo,"Feature Exploration, Visualization, and Predic...","In this 90-minute talk, we will cover an overv...","[Predictive Modelling (Literature Subject), Vi...",2014-08-06T22:09:12Z,3184,10,None,1,PT1H39M33S,hd,false

In [23]:
video_df.dtypes

video_id          object
channelTitle      object
title             object
description       object
tags              object
publishedAt       object
viewCount         object
likeCount         object
favouriteCount    object
commentCount      object
duration          object
definition        object
caption           object
dtype: object

In [24]:
video_df.isnull().sum()

video_id             0
channelTitle         0
title                0
description          0
tags               207
publishedAt          0
viewCount            0
likeCount            5
favouriteCount    1534
commentCount         1
duration             0
definition           0
caption              0
dtype: int64

In [25]:
video_df.head(5)

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition,caption
0,_2OknmkngkQ,Alex The Analyst,Data Analyst Q/A Livestream + Special Guest! |...,This is December's Livestream where you can co...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-12-08T02:06:21Z,0,4,None,0,P0D,sd,false
1,zvzjaqMBEso,Alex The Analyst,Functions in Python | Python for Beginners,In this series we will be walking through ever...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-12-06T12:00:36Z,2172,102,None,21,PT12M44S,hd,false
2,ECduJk00mUU,Alex The Analyst,While Loops in Python | Python for Beginners,In this series we will be walking through ever...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-11-29T12:00:07Z,2048,90,None,13,PT5M40S,hd,false
3,zmIdC0_0BgY,Alex The Analyst,For Loops in Python | Python for Beginners,In this series we will be walking through ever...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-11-22T12:00:48Z,2680,98,None,16,PT9M17S,hd,false
4,eP8-mo5jRrY,Alex The Analyst,Data Analyst Q/A Livestream | November Livestream,This is November's Livestream where you can co...,"[Data Analyst, Data Analyst job, Data Analyst ...",2022-11-16T02:06:22Z,4712,178,None,18,PT1H2M17S,hd,false

In [26]:
video_df['caption'].unique()

array(['false', 'true'], dtype=object)